<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyle's Level Builiding Site</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="tools">
        <p>Note: Refresh after window resize.</p>
        <a class="api-link" href="/api-docs">API DOCS</a>
        <h2>New Block Options</h2>
        <div class="tool-option">
            <label>
                Color:
                <select id="color">
                    <option value="green">green</option>
                    <option value="red">red</option>
                    <option value="gray">gray</option>
                    <option value="black">black</option>
                    <option value="blue">blue</option>
                    <option value="yellow">yellow</option>
                    <option value="purple">purple</option>
                    <option value="lime">lime</option>
                </select>
            </label>
        </div>
        <div class="tool-option">
            <label>
                <input id="bouncy" type="checkbox">
                Bouncy
            </label>
        </div>
        <div class="tool-option">
            <label>
                <input id="causes-damage" type="checkbox">
                Causes Damage
            </label>

        </div>
        <hr>
        <h2>Console Output:</h2>
        <p id="outmsg"></p>
        <hr>
        <button id="load-levels-list">Load levels List</button>
        <label id="my-load-label" class="disabled-checkbox"><small>Only Load My Levels</small><input type="checkbox"
                id="only-my-levels" name="only-my-levels" disabled></label>
        <div id="level-list-container">
            <ul id="levels-list"></ul>
        </div>
        <hr>
        <div id="sign-in-container">
            <h2>Status: <span id="signed-in-status">Loading...</span></h2>
            <button id="sign-in-button">Sign in</button>
            <div class="sign-in">Updating/deleting levels not allowed unless you are signed in.</div>
            <div>
                <label>
                    User Name
                    <input id="user-name" type="text" disabled>
                </label>
            </div>
            <div>
                <label>
                    User ID
                    <input id="user-id" type="text" disabled>
                </label>
            </div>

        </div>
    </div>

    <div id="level-app">
    </div>

    <div id="right-controls" class="gameplay">
        <h2>Game Testing</h2>
        <button id="start-game" class="start-btn">Start Game</button>
        <hr>
        <button id="output-json">Output/Save JSON</button>
        <button id="input-json">Read/apply JSON</button>
        <textarea id="output">Paste json</textarea>
        <hr>
        <div class="request-inputs">
            <h2>Levels in DB: (under construction)</h2>

            <label>
                Level Name
                <input id="level-name" type="text">
            </label>
            <label>
                Author Name
                <input id="author-name" type="text">
            </label>
            <hr>
            <label>
                Level ID (for loading or updating)
                <input id="level-id" type="text">
            </label>
            <hr>

            <button id="save-to-db">Save New to DB</button>

            <button id="update-in-db">Update existing in DB</button>
            <hr>
            <button id="load-from-db">Load existing from DB</button>
        </div>

    </div>
</body>

<script src="levelscript.js"></script>

</html>