   /* 
        24px * 40 blocks grid width
        24px * 30 blocks grid width
        game port width 960px
        game port height 720px
    */
   #level-app {
       width: 960px;
       height: 720px;
       background-color: rgb(139, 214, 243);
       margin: 0 auto;
       background-image:
           repeating-linear-gradient(rgb(92, 154, 179) 0 1px, transparent 1px 100%),
           repeating-linear-gradient(90deg, rgb(92, 154, 179) 0 1px, transparent 1px 100%);
       background-size: 24px 24px;
   }

   .block {
       user-select: none;
       position: absolute;
       width: 24px;
       height: 24px;
       background-color: greenyellow;
       z-index: 1;
       line-height: 4em;
   }

   .tools {
       position: relative;
       float: left;
   }

   .tool-option {
       margin: 1em 0;
       display: inline;
   }

   h2 {
       font-size: medium;
   }

   .gameplay {
       position: absolute;
       right: 2em;
       top: 0;
   }

   .start-btn {
       border: 2px solid green;
   }

   .stop-btn {
       border: 2px solid red;
   }

   #output {
       width: 220px;
       display: block;
       font-size: small;
       white-space: pre-wrap;
       resize: none;
       background-color: rgb(41, 41, 41);
       color: rgb(211, 255, 162);
       width: 250px;
       height: 350px;
       overflow: scroll;
       resize: none;
   }

   .request-inputs {
       padding: 0.5em;
   }

   .request-inputs input,
   .request-inputs label {
       display: block;
   }

   #outmsg {
       width: 100%;
       width: 250px;
       overflow-wrap: break-word;
       background-color: rgb(164, 245, 218);
       height: 150px;
       overflow: scroll;
   }

   #levels-list {
       width: 100%;
       max-width: 170px;
       overflow-wrap: break-word;
   }

   #levels-list li {
       background-color: rgb(224, 221, 221);
       margin: 0.4em;
       padding: 0.1em;
       font-size: smaller;
       cursor: pointer;
   }

   #levels-list li h2 {
       margin: 0.1em;
   }

   #levels-list li:hover {
       background-color: rgb(175, 250, 255);
   }

   #sign-in-container {
       margin: 0.5em;
       padding: 0.5em;
   }

   #sign-in-container button {
       margin: 0.5em;
       padding: 0.5em;
       width: 150px;
   }

   .signed-in {
       border: 2px solid greenyellow;
       border-radius: 0.5em;
       background-color: rgb(205, 235, 205);
   }


   .signed-out {
       border: 2px solid rgb(255, 78, 47);
       background-color: rgb(238, 198, 198);
       border-radius: 0.5em;
   }

   .sign-in {
       width: 200px;
   }

   #level-list-container {
       height: 150px;
       overflow: scroll;
   }